*pyc
*pyo
*~
*.bak
*.zip
*.sh

#Django
dmlib/
datalib/
media/
migrations/


#Sphinx
build/

# RDF tools ignores
RDF/tools/3_0_0/dm/
RDF/tools/3_0_0/rdf/
RDF/tools/3_0_0/rm/
RDF/tools/3_0_0/xml/


# project files
*.xpr
s3m.wpr
s3m.wpu
.Rproj.user
S3Model.sublime-project
S3Model.sublime-workspace
