*pyc
*pyo
*~
*.bak
*.zip
*.sh

DMGEN.json

#ModelTester
S3ModelTester.log

#Django
settings.py
dmlib/
media/
migrations/
datalib/


#Sphinx
build/

# RDF tools ignores
RDF/tools/3_0_0/dm/
RDF/tools/3_0_0/rdf/
RDF/tools/3_0_0/rm/
RDF/tools/3_0_0/xml/


# project files
*.xpr
